.carticonContainer {
  background-color: transparent;
  padding: 7px 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(69, 29, 101, 0.5);
}
.carticonContainer:hover {
  cursor: pointer;
}

.carticonContainer .flexPrimary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carticonContainer p {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
