footer {
  background-color: rgb(79, 9, 9);
  padding: 50px 30px;
  width: 100%;
}

.footerwidgets {
}

.footerwidgets .widdgets {
}

.Footercontainer {
  color: white;
}

.Footercontainer p {
  text-align: center;
}
